src/BankingSite.IntegrationTests/Service References/CreditCardApplicationServiceReference/CreditCardApplicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankingSite.Model.DomainEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankingSite.Model.DomainEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62727/Services/CreditCardApplicationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CreditCardApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirlineFrequentFlyerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicantAgeInYears" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicantName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardApplication" nillable="true" type="tns:CreditCardApplication" />
  <xs:complexType name="SubmissionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidationErrors" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmissionResult" nillable="true" type="tns:SubmissionResult" />
</xs:schema>